<h1>WELCOME TO ADVENTURE ALLEY</h1>

<div class="experiences-container">
  <% @experiences.each do |experience| %>
    <%= link_to  experience_path(experience) do %>
      <div class="experience-card">
        <h3><%= experience.title %></h3>
        <p><%= experience.description %></p>      
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to 'Sign up', new_user_registration_path %>
<%= link_to 'Create listing', experiences_path %>


