<div class="container" class="mx-auto" style="width: 500px;">
  <h1><%= @experience.title %></h1>
  <p><%= @experience.description %></p>
  <p><strong>Price:</strong> $<%= @experience.price %></p>
  <p><strong>Date:</strong> <%= @experience.date.strftime('%B %d, %Y') %></p>
  <p><strong>Location:</strong> <%= @experience.location %></p>
  <p><strong>Capacity:</strong> <%= @experience.capacity %></p>
  <%= simple_form_for @booking, url: bookings_path do |f| %>
    <%= f.hidden_field :experience_id, value: @experience.id %>
    <%= f.button :submit, "Book Now", class: "btn btn-primary" %>
  <% end %>
</div>


